<h1>detail here</h1>
<div class="row g-3">
    {{#each course}}
  <div class="col">

<div class="card" style="width: 18rem;">
    <a href="/courses/{{this.slug}}">
  <img src="{{this.image}}" class="card-img-top" alt="...">
    </a>
  <div class="card-body">
    <a href="/courses/{{this.slug}}">
    
    <h5 class="card-title">{{this.name}}</h5>
    </a>
    <p class="card-text">{{this.description}}</p>
    <a href="/courses/{{this.slug}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  </div>

{{/each}}
  
</div>



